* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary: #6e00ff;
  --bg-primary-light: #6e00ff;
  --bg-secondary: #fceba5;
  --bg-black: #000000;
  --text-white: #fff;
}
a {
  text-decoration: none;
  color: var(--bg-black);
  font-weight: bold;
}
button {
  cursor: pointer;
  outline: none;
}
ul li:focus {
  outline: none;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
img {
  max-width: 100%;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
  border: none;
}
